:host {
  display: block;
  margin: 4px 8px;

  .list-item {
    border-radius: 8px;
    transition: background-color 200ms ease;

    &:not(.locked) {
      cursor: pointer;

      &:hover {
        background: var(--mat-sys-outline);
      }
    }

    &.locked {
      &:hover {
        background: hsl(from var(--mat-sys-outline) h s calc(l - 15));
      }
    }

    img {
      border-radius: 4px;
      margin-right: 16px;
    }

    h6 {
      margin: 0;
      font-size: 16px;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 8px;

      .lock-icon {
        font-size: 16px;
        width: 16px;
        height: 16px;
        color: var(--mat-form-field-label-text-color);
      }
    }
  }

  ::ng-deep .mat-mdc-list-item-unscoped-content {
    width: 100%;
  }
}
