<mat-toolbar>
  <mat-toolbar-row>
    <div>
      <a routerLink="." color="primary" mat-button aria-label="Frescolist">
        <frescolist-logo matButtonIcon />
        {{ appName }}
      </a>
    </div>
    <span class="flex-spacer"></span>
    @if (isAuthenticated) {
    <button mat-icon-button routerLink="/playlists" matTooltip="Playlists">
      <mat-icon>featured_play_list</mat-icon>
    </button>
    <button mat-icon-button routerLink="/settings" matTooltip="Settings">
      <mat-icon>settings</mat-icon>
    </button>
    }
    @else {
    <button mat-icon-button routerLink="/login" matTooltip="Login">
      <mat-icon>login</mat-icon>
    </button>
    }
    <button mat-icon-button routerLink="/info" matTooltip="Info">
      <mat-icon>info</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
