<div class="dashboard-container">
  @if (spotifyService.userProfile) {
  <mat-card class="profile-card">
    <mat-card-header>
      @if (spotifyService.userProfile.images && spotifyService.userProfile.images.length > 0) {
      <img [src]="spotifyService.userProfile.images[0].url" alt="Profile picture" class="profile-image">
      }
      <mat-card-title>{{ spotifyService.userProfile.display_name }}</mat-card-title>
      <mat-card-subtitle>
        <div class="stats">
          <span class="stat">
            <strong>{{ spotifyService.userProfile.followers.total }}</strong> followers
          </span>
          <span class="stat">
            <strong>{{ spotifyService.userProfile.country }}</strong> country
          </span>
          <span class="stat">
            <strong>{{ spotifyService.userProfile.product }}</strong> account
          </span>
        </div>
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  }
</div>
