<mat-card>
  <mat-card-header>
    <mat-card-title>Settings</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <section class="theme-section">
      <h3>Theme</h3>
      <mat-radio-group [value]="selectedTheme" (change)="onThemeChange($event)">
        @for (theme of themes; track theme.value) {
        <mat-radio-button [value]="theme.value">
          {{ theme.label }}
        </mat-radio-button>
        }
      </mat-radio-group>
    </section>
    <section>
      <h3>Account</h3>
      <button mat-flat-button color="warn" (click)="logout()">
        Logout from Spotify
      </button>
    </section>
  </mat-card-content>
</mat-card>
